.logoImage{
    background-image: url('/src/img/sangananprayog.png');
}

.homePageButton{
    padding:0.5rem 2rem;
    border:1px solid white; 
    margin:10px;
    font-family: Montserrat;
    border: none;
    border-radius: 5px;
}
.button1{    
    background-color: #416DEA;  
}
.button2{
    background-color: #3DD28D;
}